html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: verdana;
    }

#hyperlink {
        font-size: 16pt;
        color: aquamarine;
        text-decoration: underline;
    }
#camp {padding: 20px;}

h1 {
    font-weight: normal;
    font-size: 50px;
    }

h2 {
    font-weight: 300;
    font-size: 42pt;

}
h3 {
    font-size: 21px;
    color: grey;

}

footer {
    text-align: right;
    color: gray;
}